.botaoEntrar {
    background-color: #21897E;
    color: aliceblue;
    font-weight: 400;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 20px;
}

.botaoEntrar:hover,
.botao-background:hover,
.jumb-botao:hover {
    background-color: aliceblue;
    color: #192A51;
}

.ul-links>li {
    margin: 0 21px;
    font-size: 20px;
    font-weight: 600;
}

.logo {
    padding: 0;
    max-width: 100px;
}

.jumb-image {
    background: url('../background.jpg') no-repeat center center;
    background-size: cover;
    padding-top: 17%;
    padding-bottom: 17%;
}

.jumb-titulo {
    color: aliceblue;
}

.jumb-descricao {
    color: #21897E;
}

.jumb-botao,
.jumb-botao>a {
    background-color: #21897E;
    border: grey 2px;
    font-weight: 600;
    color: aliceblue;
}